.navbar-brand{
  font-weight: bold;
}

.event{
  padding-top: 5%;
}
.event__title {
  font-size: $font-size-md;
  font-weight: lighter;
  margin-bottom: 3%;

  span{
    font-weight: bold;
  }
}

.highlight{ }
.slider{
  position: relative;
  color: $white;
  width: 100%;
  height: 444.6px;
  overflow: hidden;
  border-radius: 8px;

  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    img{
      width: 100%;
    }
    &__overlay{
      position: absolute;
      top: 0px;
      left: 0px;
      height: inherit;
      width: inherit;
      opacity: 0.47;

      &--gradred{
        background: linear-gradient($gr-red);
      }
    }
  }
  &__content{
    padding-right: 30px;

    &__category{
      padding-bottom: 16px;
      border-bottom: 1px solid $white;
    }
    &__title{
      font-weight: bold;
      font-size: $font-size-xl;
      line-height: 65px;
      margin-top: 50px;
    }
    &__date{
      margin-top:30px;
    }
  }
  &__action{
    text-align: center;
    span{
      display: block;
      font-weight: bold;
      font-size: $font-size-lrg;
      margin-bottom: 40px;
    }
  }
}

.search{
  .form-control{
    border: none;
    border-bottom: 1px solid #C9C9C9;
  }
}

.available{
  .card{
    margin-bottom: 40px;
    height: 280px;
    overflow: hidden;
    &-title{
      font-size: $font-size-lrg;
      font-weight: bold;
    }
    &-date .icon{
      color: $white;
    }
    &-body{
      width: 60%;
      padding-right: 10%;
    }
    &-bg{
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 40%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.loadmore{
  padding: 100px 0px;
  text-align: center;
  background: linear-gradient(to top, #E3E3E3, #E3E3E300);
  a{ color: $body-color; }
}
.icon{
  margin-right: 10px;
  &--rounded{
    border-radius: 50px;
    padding: 3px 8px;
  }
  &--gradyellow{
    background: linear-gradient($gr-yellow);
  }
}

.btn{
  &--rounded-md{
    color: $white;
    padding: 8px 40px;
    border-radius: 30px;
  }
  &--rounded-sm{
    color: $white;
    padding: 8px 15px;
    border-radius: 30px;
  }
  &--gradgreen{
    background: linear-gradient($gr-green);
  }
  &--gradred{
    background: linear-gradient($gr-red);
  }
}
