.navbar-brand{
  font-weight: bold;
}
.detail-event{
  font-weight: bold;
  h2{
    font-size: $font-size-base;
    color: #C9C9C9;
    font-weight: normal;
  }
  .promotion{
    position: relative;
    width: 100%;
    height: 330px;
    overflow: hidden;

    img{
      width: 100%;
      cursor: pointer;
    }
  }
  &__navbar{
    z-index: 2;
    .navbar-nav .nav-link{
      color: $white;
    }
  }
  &__primary-info{
    margin-top: -120px;
    .card{
      &-title{
        font-size: $font-size-base;
        color: #C9C9C9;
      }
      &-text{
        font-weight: bold;
      }
      &-share{
        cursor: pointer;
        position: absolute;
        top: 43%;
        left: -66px;
        transform: rotate(-90deg);
        padding: 2px 20px;
        border-radius: 10px 10px 0px 0px;
        color: $white !important;
        &--gradpurple{
          background: linear-gradient($gr-purple);
        }
      }
    }
  }
}
.timeline{
  padding-bottom: 50px;
  &__header{
    border-bottom: 1px solid #C9C9C9;
    text-align: center;
    h2{
      margin: 0;
      display: inline-block;
      padding: 4px 20px;
      border-radius: 10px 10px 0px 0px;
      color: $white;
      background: linear-gradient($gr-purple);
      font-size: $font-size-base;
    }
  }
  &__group{ margin-top: 30px; }
  &__title{
    font-size: $font-size-base;
    color: #C9C9C9;
  }
  &__list{
    display: flex;
    list-style-type: none;
    margin: 0px;
    margin-top: 50px;
    padding: 0px 25px;
    li{
      position: relative;
      flex-grow: 1;
      padding-top: 40px;
      border-top: 1px solid #C9C9C9;
      &::before{
        content: '';
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid $yellow;
        background: $white;
        position: absolute;
        top: -18px;
        left: 0;
      }
      &.active::before{
        border: none;
        background: linear-gradient($gr-yellow);
      }
      &.active{
        border-top: 2px solid $yellow;
      }
      h4{
        font-size: $font-size-base;
        margin: 0;
        font-weight: bold;
      }
    }
  }
}
.event{
  padding-top: 5%;
}
.event__title {
  font-size: $font-size-md;
  font-weight: lighter;
  margin-bottom: 3%;

  span{
    font-weight: bold;
  }
}

.highlight{ }
.slider{
  position: relative;
  color: $white;
  width: 100%;
  height: 444.6px;
  overflow: hidden;
  border-radius: 8px;

  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    img{
      width: 100%;
    }
    &__overlay{
      position: absolute;
      top: 0px;
      left: 0px;
      height: inherit;
      width: inherit;
      opacity: 0.47;

      &--gradred{
        background: linear-gradient($gr-red);
      }
    }
  }
  &__content{
    padding-right: 30px;

    &__category{
      padding-bottom: 16px;
      border-bottom: 1px solid $white;
    }
    &__title{
      font-weight: bold;
      font-size: $font-size-xl;
      line-height: 65px;
      margin-top: 50px;
    }
    &__date{
      margin-top:30px;
    }
  }
  &__action{
    text-align: center;
    span{
      display: block;
      font-weight: bold;
      font-size: $font-size-lrg;
      margin-bottom: 40px;
    }
  }
}

.search{
  .form-control{
    border: none;
    border-bottom: 1px solid #C9C9C9;
  }
}

.available{
  .card{
    margin-bottom: 40px;
    height: 280px;
    overflow: hidden;
    &-title{
      font-size: $font-size-lrg;
      font-weight: bold;
    }
    &-date .icon{
      color: $white;
    }
    &-body{
      width: 60%;
      padding-right: 10%;
    }
    &-bg{
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 40%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.loadmore{
  padding: 100px 0px;
  text-align: center;
  background: linear-gradient(to top, #E3E3E3, #E3E3E300);
  a{ color: $body-color; }
}
.icon{
  margin-right: 10px;
  &--rounded{
    border-radius: 50px;
    padding: 3px 8px;
  }
  &--gradyellow{
    background: linear-gradient($gr-yellow);
  }
}
.hero{
  position: relative;
  margin-top: -60px;
  background: url('../assets/event-1.jpg');
  background-size: cover;
  height: 788px;
  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fff, #fff0);
  }
  &__content{
    position: relative;
    z-index: 1;
    width: 60%;
    text-align: center;
    color: $black;
    h1{
      font-size: $font-size-xxl;
      line-height: 72px;
      font-weight: bold;
    }
  }
}
footer{
  padding: 10px 0px;
  text-align: center;
  background: linear-gradient($gr-green);
  color: $white;
  a{
    color: $white;
  }
}
.btn{
  &--rounded-md{
    color: $white;
    padding: 8px 40px;
    border-radius: 30px;
  }
  &--rounded-sm{
    color: $white;
    padding: 8px 15px;
    border-radius: 30px;
  }
  &--gradgreen{
    background: linear-gradient($gr-green);
  }
  &--gradred{
    background: linear-gradient($gr-red);
  }
}
.badge{
  color: $white;
  &--gradred{
    background: linear-gradient($gr-red);
  }
}
.ticket{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  color: $white;
  font-weight: bold;
  padding: 8px 30px;
  &:before,
  &:after{
    content: ' ';
    position: absolute;
    top: 35%;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background: white;
  }
  &:before{
    left: -8px;
  }
  &:after{
    right: -8px;
  }
  &--gradred{
    background: linear-gradient($gr-red);
  }
}
