// $font-size-base: 1.125rem;
$font-size-md: 1.375rem;
$font-size-lrg: 2rem;
$font-size-xl: 3rem;

$gr-red: to top right, #FF0000, #FFA04E;
$gr-yellow: to top right, #FFA50D, #FFFF0D;
$gr-green: to top right, #1CCEB6, #32FF76;
$gr-purple: to top right, #0D56FF, #E70DFF;

$body-color: #707070;
$navbar-light-color: $body-color;
$navbar-light-active-color: $body-color;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "custom";
